/* Global */
body {
  margin: 0 auto;
}

.container {
  padding: 20px 200px;
}

.row {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*Header*/
header {
  background-image: url("https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding-top: 80px;
  padding-bottom: 120px;
}

.nav {
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.logo {
  font-family: "Pinyon Script", cursive;
  color: #fed136;
  font-size: 40px;
  font-weight: bolder;
}

.nav-list li {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

.page-title {
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.main-title {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 80px;
}

.subtitle {
  font-size: 35px;
  font-style: italic;
  font-family: "Lora", serif;
}

.btn {
  background-color: #fed136;
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 20px 45px;
  border-radius: 5px;
}

/* Services */
.services-title {
  text-align: center;
}

.services-title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: bold;
}

.services-title p {
  font-style: italic;
  font-family: "Lora", serif;
  color: #909090;
  font-size: 20px;
}

.box-services h5, p, i {
  text-align: center;
}

.box-services h5 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.box-services p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #909090;
}

.box-services i {
  margin-top: 30px;
  color: #fed136;
  font-size: 40px;
}

/* Portfolio */
.portfolio {
  background-color: #f2f2f2;
}

.box {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.box img {
  height: 300px;
  width: 300px;
  padding-bottom: 0;
}

.portfolio-title {
  text-align: center;
}

.portfolio-title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: bold;
}

.portfolio-title p {
  font-style: italic;
  font-family: "Lora", serif;
  color: #909090;
  font-size: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  margin-top: 5px;
}

.box {
  text-align: center;
  background-color: white;
  margin-top: 15px;
  padding-top: 0;
}

.box p {
  color: #909090;
  font-style: italic;
  font-family: "Lora", serif;
  font-weight: 20px;
}

.text-box h5 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
  font-size: 20px;
}

/* Footer */
.footer-text a {
  text-align: left;
  display: inline;
  padding: 0;
  margin: 0;
  inline-size: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.list li {
  font-size: 0;
  display: inline;
  text-align: center;
}

.list li i {
  font-size: 20px;
  background: black;
  color: #ffffff;
  margin: 6px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
/*# sourceMappingURL=style.css.map */